@{
    ViewData["Title"] = "Контент"; // Сюда в виде заголовка страницы можно добавить название контента (логично что его придется брать из бд)
}

<h2>Контент</h2>

<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]!; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>